<nav class="navbar navbar-expand-lg bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Navbar</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Dropdown
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">Action</a></li>
              <li><a class="dropdown-item" href="#">Another action</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled">Disabled</a>
          </li>
        </ul>
      </div>
    </div>
</nav>

<div class="contenedor">
  <div class="nabar">
    <ul>
      <!---->
      <li>Base de datos <i class="bi bi-database"></i></li>

      <li>
        <a href="" class="links">Firebase firestore</a>
      </li>
      <li>
        <a href="" class="links">Sqlite</a>
      </li>
      <li>
        <a href="" class="links">Web services</a>
      </li>
      <br>
      <li>Login <i class="bi bi-person"></i></li>
      <li>
        <a href="" class="links">Firebase auth</a>
      </li>
      <li>
        <a href="" class="links">Web services</a>
      </li>
      <li>
        <a href="" class="links">Sqlite</a>
      </li>
      <br>
      <!---->
      <li>Recycle view <i class="bi bi-list-task"></i></li>
      <li>
        <a href="" class="links">Firebase auth</a>
      </li>
      <li>
        <a href="" class="links">Web services</a>
      </li>
      <li>
        <a href="" class="links">Sqlite</a>
      </li>
      <br>
      <!---->
      <li>mensajes o alertas <i class="bi bi-chat-square-text"></i></li>
      <li>
        <a href="" class="links">progres bar</a>
      </li>
      <li>
        <a href="" class="links">alert dialog</a>
      </li>
      <br>
      <!---->
      <li>Tools <i class="bi bi-gear"></i></li>
      
      <li>
        <a href="" class="links">Herramientas</a>
      </li>
      <li>
        <a href="" class="links">swipe refresh</a>
      </li>
      <br>
      <!---->
      <li>layout <i class="bi bi-window"></i></li>
      <li>
        <a href="" class="links">Diseños</a>
      </li>
      <li>
        <a href="" class="links">Menu</a>
      </li>
      <li>
        <a href="" class="links">botom bar</a>
      </li>
      <li>
        <a href="" class="links">navegation drawn</a>
      </li>
    </ul>
  </div>

    <div class="nva">
      
    </div>
        

</div>
